<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
-->

<plugin>
   <extension
         point="tools.descartes.dlim.generator.tools_descartes_dlim_generator_exporters">
      <Exporter
            class="tools.descartes.dlim.exporter.DlimArrivalRateExporter"
            label="Simple Arrival Rate File (.txt)">
      </Exporter>
      <Exporter
            class="tools.descartes.dlim.exporter.DlimEqualDistanceRequestStampExporter"
            label="Request Time Stamps via Equal Distance Sampling (.txt)">
      </Exporter>
      <Exporter
            class="tools.descartes.dlim.exporter.DlimUniformRequestStampExporter"
            label="Request Time Stamps via Uniform Random Sampling (.txt)">
      </Exporter>
      <Exporter
            class="tools.descartes.dlim.exporter.DlimEqualDistanceRequestStampExporterCSV"
            label="Request Time Stamps via Equal Distance Sampling (.csv)">
      </Exporter>
      <Exporter
            class="tools.descartes.dlim.exporter.DlimUniformRequestStampExporterCSV"
            label="Request Time Stamps via Uniform Random Sampling (.csv)">
      </Exporter>
      <Exporter
            class="tools.descartes.dlim.exporter.DlimNoBinningRequestStampExporterCSV"
            label="Request Time Stamps using perfect sampling (.csv)">
      </Exporter>
      <Exporter
            class="tools.descartes.dlim.exporter.DlimArrivalRateExporterCSV"
            label="Simple Arrival Rate File (.csv)">
      </Exporter>
   </extension>


</plugin>
