<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
-->

<plugin>
   <extension
         point="tools.descartes.dlim.generator.tools_descartes_dlim_generator_extractors">
      <Extractor
            extractor_class="tools.descartes.dlim.extractor.SimpleProcessExtractor"
            label="Simple Process Extractor"
            reader_class="tools.descartes.dlim.reader.DefaultArrivalRateReader">
      </Extractor>
      <Extractor
            extractor_class="tools.descartes.dlim.extractor.PeriodicProcessExtractor"
            label="Periodic Process Extractor"
            reader_class="tools.descartes.dlim.reader.DefaultArrivalRateReader">
      </Extractor>
      <Extractor
            extractor_class="tools.descartes.dlim.extractor.BinarySplitProcessExtractor"
            label="Binary Split Process Extractor"
            reader_class="tools.descartes.dlim.reader.DefaultArrivalRateReader">
      </Extractor>
   </extension>


</plugin>
